/* grid */

body {
	display: grid;
	grid-template:
		"t t"
		"h h"
		"m f"
		"T T";
}

#top {
	grid-area: t;
}

header {
	grid-area: h;
}

main {
	grid-area: m;
}

footer {
	grid-area: f;
}

#return-to-top {
	grid-area: T;
}

/* main */

body {
	font-family: sans-serif;
	margin: 0;
	line-height: 1.5;
}

h1 {
	background: #24292f;
	margin: 0;
	padding: 0.5em 1em;
	line-height: 1em;
}

h1 a {
	color: white;
	font-weight: bold;
}

h1:before {
	content: '🌺';
}

h1:after {
	height: 1em;
	width: 1em;
	float: right;
	/* */
	content: '📍';
	overflow: hidden;
	line-height: 1em;
	background: #ddd;
	border-radius: 100%;
}

nav {
	background: #f6f8fa;
	margin-bottom: 2em;
}

.container-selector-themes {
	float: right;
	padding: 1em 0.25em;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 1em 0.25em;
}

nav li a {
	color: #1f2328;
	border-radius: 6px;
	padding: 0.5em;
}

nav li a:hover {
	background: rgba(208, 215, 222, 0.32);
}

main {
	max-width: 1280px;
	margin: auto;
}

section {
	border: 1px solid #dbe1e6;
	border-radius: 0.5em;
	position: relative;
	margin-left: 6em;
}

section:before {
	font-size: 3em;
	height: 1em;
	width: 1em;
	position: absolute;
	left: -1.5em;
	/* */
	content: '📍';
	overflow: hidden;
	line-height: 1em;
	background: #ddd;
	border-radius: 100%;
}

section ~ section {
	margin-top: 1.5em;
}

section h2 {
	background: #f6f8fa;
	margin: 0;
	padding: 0.5em 1em;
	border-bottom: 1px solid #dbe1e6;
	font-size: inherit;
}

section p {
	padding: 0 1em;
}

a {
	color: #0969da;
	text-decoration: none;
}

.skill-level {
	background: lemonchiffon;
	color: black;
	padding: 0.2em;
	border-radius: 1em;
}